$dfi-purple: #00ADB5;
$dfi-purple-light: #00ADB5;

$dfi-green: #02b31b;
$dfi-orange: #00ADB5;
$dfi-red: #ff0000;
$dfi-scent: #f4f3f6;
$dfi-umbra: #00ADB5;
$dfi-gray: #9899a0;
$white:    #fff;

$gray-100: rgba(0, 0, 0, .1);
$gray-200: rgba(0, 0, 0, .2);
$gray-300: rgba(0, 0, 0, .3);
$gray-400: rgba(0, 0, 0, .4);
$gray-500: rgba(0, 0, 0, .5);
$gray-600: rgba(0, 0, 0, .6);
$gray-700: rgba(0, 0, 0, .7);
$gray-800: rgba(0, 0, 0, .8);
$gray-900: rgba(0, 0, 0, .9);

$black:    #000;
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;