version: '3.0'

services:
  database:
    image: mongo:3.4-jessie
    networks:
      - default
    ports:
      - 27017
    volumes:
      - db_data:/data/db
    restart: unless-stopped

  defichain:
    image: defi/defichain:1.0.0
    networks:
      - default
    environment:
      - NETWORK=${NETWORK:?NETWORK env required}
    ports:
      - 8555
      - 8554
      - 18555
      - 18554
      - 19555
      - 19554
    volumes:
      - node_data:/data
      - ./defi.${NETWORK}.conf:/data/defi.conf
    restart: unless-stopped

  bitcore-node:
    build: .
    image: bitcore-node
    # network_mode: host
    networks:
      - default
    command: "bash -c 'cd ./packages/bitcore-node/; npm run tsc; node build/src/server.js'"
    environment:
      - NETWORK=${NETWORK:?NETWORK env required}
      - API_PORT=${API_PORT:-3000}
      - DB_HOST=database
      - CHAIN=DFI
      - BITCORE_CONFIG_PATH=bitcore.config.json
      - BITCORE_NODE_FILE_LOG=${BITCORE_NODE_FILE_LOG:-false}
      - BITCORE_NODE_SENTRY_DNS=${BITCORE_NODE_SENTRY_DNS:-false}
      - DISABLE_HEALTH_CRON=${DISABLE_HEALTH_CRON:-false}
    ports:
      - ${API_PORT}:3000
    volumes:
      - ./bitcore.${NETWORK}.config.json:/usr/src/app/bitcore.config.json
    depends_on:
      - database
      - defichain
    restart: unless-stopped

  insight:
    build: .
    image: insight
    # network_mode: host
    networks:
      - default
    command: ['npm', 'run', 'insight-previous:prod']
    environment:
      - NETWORK=${NETWORK:?NETWORK env required}
      - API_PREFIX=${API_PREFIX:?API_PREFIX env required}
      - HTTP_PORT=${HTTP_PORT:-5000}
      - ENV=prod
      - CHAIN=DFI
      - BITCORE_CONFIG_PATH=bitcore.config.json
    ports:
      - ${HTTP_PORT}:5000
    volumes:
      - ./bitcore.${NETWORK}.config.json:/usr/src/app/bitcore.config.json
    depends_on:
      - bitcore-node
    restart: unless-stopped

volumes:
  db_data:
  node_data:
