head-nav {
  .icon-md-light {
    color: rgba(255, 255, 255, .75);
  }

  .icon-md-dark {
    color: rgba(255, 255, 255, .95);
  }

  .toolbar-md {
    min-height: 64px;
  }

  .toolbar-content {
    display: grid;
    grid-template-columns: 15% 1fr 25%;
    justify-items: stretch;
    align-items: center;

    ion-title {
      justify-self: start;

      &.logo-header {
        .toolbar-title {
          width: auto;
          cursor: pointer;
          color: white;
          font-weight: 700;
          font-size: 2em;
          padding-left: 0px;
        }
      }
    }

    ion-buttons {
      justify-self: end;
    }

    .search {
      justify-self: center;

      @media (min-width: map-get($grid-breakpoints, lg)) {
        display: inline-block;
      }

      display: none;

      vertical-align: middle;

      input {
        width: 650px;
        margin-top: -2px;
        padding: 8px 12px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        font-weight: 400;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);

        &:hover {
          border-bottom: 1px solid rgba(255, 255, 255, 1);
        }
      }

      ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-style: italic;
        font-weight: 400;
      }

      ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-style: italic;
        font-weight: 400;
      }
    }
  }

  .mobile-searchbar>.toolbar-content {
    display: grid;
    grid-template-columns: 100%;
  }

  .search-button {
    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }

    width: 120px;
    margin: 0 auto;
  }

  .popover-md.test {
    .popover-wrapper {
      .popover-content {
        width: 100px;
      }
    }
  }
}
